<header>
  <div class="navbar">
    <div class="navbar_brand">
      <a href="">Movies Repository</a>
    </div>
    <div class="navbar_right">
      <div class="navbar_items">
        <ul>
          <li><a href="">Home</a></li>
          <li><a href="">Filmes</a></li>
          <li><a href="">Séries</a></li>
          <li><a href="">Atores</a></li>
        </ul>
      </div>
      <div class="navbar_pesquisa">
        <input type="text">
        <button routerLink="/pesquisa">
          <fa-icon [icon]="faSearch" class="pesquisa_icon"></fa-icon>
        </button>
      </div>
    </div>
  </div>
</header>
